/* FCC Survey Form */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,500,600,700');

:root { font: 20px/1.2 "Encode Sans Condensed", sans-serif; } /* or html */


body, body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

input { display: block; }