/* FCC Survey Form */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,500,600,700');

:root { font: 20px/1.2 "Encode Sans Condensed", sans-serif; } /* or html */


body, body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

/* top breaks */
.t-break-1 { margin-top: 40px;}
.t-break-2 { margin-top: 20px;}

/* bottom breaks */
.b-break-1 { margin-bottom: 15px; }
.b-break-2 { margin-bottom: 40px; }

/* inline display */
.inline-disp { display: inline; }

input {
	display: block;
	padding: 18px 10px 18px 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px grey solid;
}

select {
	padding: 18px 10px 18px 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px grey solid;
}

textarea {
	display: block;
	width: 100%;
}